section
{
    width:900px;
    padding: 10px; margin: 10 auto;
    background-color: aquamarine;
    display:flex;
    flex-wrap: wrap;
    
}
article
{
    width:320px;
    padding: 10px;
    background-color: orange;
    margin: 30px auto;
}


.homeL{
    width: 400px;
    height: 300px;
    padding:0;
}

.homeR{
    background-color: lightgray;
    ul{
        padding:15px;
        li{
            margin: 3px 0;
        }
    }
}

.slider{
    background-color: pink;
    .swiperBox {
        background-color: white;
        width: 800px;
        overflow: hidden;
        .swiper{
            width:600px;
            height:300px;
            background-color: lightgray;
        }
      }
}
.New{
    background-color:white;
    article{
        transition-duration: 1s;
        height:inherit;
    }
    article:hover{
        transform:scale(110%);
    }
}