/*기본틀*/
*{margin:0px; padding:0px;}
body{
    font-family: 'Verdana'; font-size: 16px;
    color:black; line-height: 28px;
}
/*헤더*/
header{
    width: 1000px; height: 28px;
    margin: 0px auto; margin-top: 10px; padding: 10px;
    overflow:hidden;
    border: 2px solid black;
    background-color: lightskyblue;
}

/*네비*/
nav
{
    float: right; overflow: hidden;
    position: relative;
}

nav > ul
{
    overflow:hidden;
    background-color: lightcyan;
}
nav > ul > li
{
    list-style: none;
    float: left;
    padding:5px;
}

/*메인*/
#main
{
    width:1000px; height:340px;
    margin:0px auto; margin-top: 5px; padding: 10px;
    overflow: hidden;
    border: 2px solid black;
    background-color: pink;
}

section
{
    width:680px; height:320px;
    padding: 10px; margin-right:10px;
    background-color: aquamarine;
    float: left;
}
article
{
    width:660px; height: 150px;
    padding: 10px;
    background-color: orange;
}
aside
{
    width: 270px; height:320px;
    padding:10px;
    background-color: lemonchiffon;
    float:left;
}

