body {
  overflow: hidden;
}

section:nth-child(2n) {
  background-color: #E6ECF2;
}

.introMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  left: 10%;
  top: 50%;
  width: 600px;
}
.introMain .headLine {
  width: 300px;
}
.introMain .headLine h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.introMain .introAbout {
  width: 450px;
  margin-top: 15px;
}

.aboutMe {
  width: 600px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  left: 10vw;
  justify-content: start;
  align-content: start;
}
.aboutMe h2 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.swiperBox {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: auto;
  top: 70%;
}
.swiperBox .swiper {
  width: 100%;
  height: 10vh;
  display: flex;
}
.swiperBox .swiper-slide {
  width: 5vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: solid;
  background-color: white;
}
.swiperBox img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  width: 100%;
  height: 10vh;
}
.swiper-slide-active img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.news {
  padding: 50px;
  width: 95%;
  margin-top: 100px;
  position: relative;
  left: 5%;
  height: 550px;
  background-color: #E6ECF2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.news .newsBottom {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}
.news .newsBottom .letter {
  width: 20vw;
  height: 100%;
  margin-left: 30px;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  text-decoration: underline;
  box-shadow: 5px 5px 5px gray;
  position: relative;
}
.news .newsBottom .letter .thumbnail {
  background-color: white;
  border: solid;
  height: 50%;
}

.lookFor {
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  transform: translateX(-50%);
  border: 2px solid;
}

.lookFor:hover {
  background-color: #E6ECF2;
}

.pages .page {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px;
  width: 45%;
  height: 75%;
  background-color: white;
  margin: auto;
  transition-duration: 1s;
}
.pages .page .pageTop {
  width: 80%;
  margin: 0 auto;
}
.pages .page .pageImg {
  width: 80%;
  height: 75%;
  margin: 15px auto;
}
.pages .page .pageImg img {
  width: 100%;
  height: 100%;
}
.pages .page .pageBox {
  width: 80%;
  height: 10%;
  margin: 15px auto;
  border: solid;
  position: relative;
}
.pages .page .pageBox a {
  color: black;
}
.pages .page .pageBox div {
  top: 30%;
}
.pages .page:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .introMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    left: 5%;
    top: 20%;
    width: 90%;
  }
  .introMain .headLine {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .introMain .headLine h1 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
  }
  .introMain .introAbout {
    width: 100%;
    text-wrap: wrap;
    margin-top: 15px;
  }
  .introMain .introAbout p {
    width: 100%;
    box-sizing: border-box;
  }
  .aboutMe {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 5%;
    justify-content: start;
    align-content: start;
  }
  .aboutMe h2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .swiperBox {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 50%;
    background-color: white;
  }
  .swiperBox .swiper {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .swiperBox .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: solid;
    overflow: hidden;
  }
  .swiperBox img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .swiper-slide-active {
    width: 100%;
    height: 10vh;
  }
  .swiper-slide-active img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .news {
    padding: 0;
    padding-left: 5%;
    padding-top: 5%;
    width: 95%;
    position: relative;
    margin-top: 10px;
    left: 5%;
    height: 550px;
    background-color: #E6ECF2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .news .newsBottom {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-content: start;
  }
  .news .newsBottom .letter {
    width: 200px;
    height: 60%;
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    text-decoration: underline;
    box-shadow: 5px 5px 5px gray;
    position: relative;
  }
  .news .newsBottom .letter .thumbnail {
    background-color: white;
    border: solid;
    height: 40%;
  }
  .news .newsBottom .letter .lookFor {
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    transform: translateX(-50%);
    border: 2px solid;
  }
  .news .newsBottom .letter .lookFor:hover {
    background-color: #E6ECF2;
  }
  .pages {
    padding-bottom: 10%;
  }
  .pages .page {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px;
    width: 85%;
    height: 40%;
    background-color: white;
    margin: 0 auto;
  }
  .pages .page .pageTop {
    width: 80%;
    margin: 0 auto;
  }
  .pages .page .pageImg {
    width: 80%;
    height: 55%;
    margin: 5px auto;
  }
  .pages .page .pageImg img {
    width: 100%;
    height: 100%;
  }
  .pages .page .pageBox {
    margin: 0 auto;
    border: none;
    position: relative;
    height: 25%;
  }
  .pages .page .pageBox div {
    top: 30%;
  }
  .pages .page:hover {
    transform: scale(1.1);
    transition-duration: 1s;
  }
}/*# sourceMappingURL=index.css.map */