section {
    width: 100%;
    height: 100vh;
    margin: 10 auto;
    display: flex;
    flex-wrap: wrap;

}

article {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.proFileImg {

    article {
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .myImg {
        background-image: url('/resource/noImg.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 20%;
        height: 50%;
        box-sizing: border-box;
        border: 2px solid;
    }

    .myText {
        width: 60%;
        height: 50%;
        padding: 15px;
        box-sizing: border-box;

        .myName {
            width: 80%;
            height: 20%;
            align-content: center;
        }

        .myNameEn {
            width: 80%;
            height: 20%;
            margin: 1% 0;
            align-content: center;
        }

        .lineIntroduce {
            width: 80%;
            height: 50%;
            font-size: auto;

            .highlight {
                color: #fff;
                background: #095C8B;
                font-weight: 700;
                border-radius: 8px;
                padding: 2px 10px;
            }
        }
    }
}


.skillInner {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;



    .skill-badge {
        img {
            height: 48px;
            width: auto;
            border-radius: 8px;
            background: #f8f8f8;
            margin: 0 6px;
        }

    }

    .skillL {
        width: 50%;
        height: 100%;
        box-sizing: border-box;

        .leftTop {
            height: 70%;
            margin-bottom: 5px;
            padding: 25px;
            box-sizing: border-box;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            align-content: center;
            text-align: center;
            background-color: #E6ECF2;
        }

        .leftBot {
            box-sizing: border-box;
            height: 30%;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            align-content: center;
            text-align: center;
            background-color: #E6ECF2;
        }
    }

    .skillR {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        .rightBox {
            width: 45%;
            height: 45%;
            margin: 2.5%;
            padding: 25px;
            border-radius: 25px;
            align-content: center;
            text-align: center;
            box-shadow: 5px 5px 5px gray;
            background-color: #E6ECF2;
        }
    }
}


.aboutMeInner {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;

    .tendency,
    .strength {
        width: 45%;
        height: 60%;
        padding: 50px;
        border-radius: 25px;

        ul {
            margin-top: 10%;
            background-color: white;
            border-radius: 25px;
            height: auto;
            align-content: center;
        }

    }

    .tendency {
        background-color: #E8F3FF;
    }

    .strength {
        background-color: #F6FAFE;
    }
}

@media (max-width:800px) {


    * {
        word-wrap: break-word;
    }

    .proFileImg {

        article {
            display: flex;
            justify-content: center;
            padding-top: 5%;
        }

        .myImg {
            background-image: url();
            width: 80%;
            height: 40%;
            box-sizing: border-box;
            border: 2px solid;
        }

        .myText {
            width: 90%;
            height: 50%;
            padding: 15px;
            box-sizing: border-box;

        }
    }


    .skillInner {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 70%;
        flex-wrap: wrap;


        .skill-badge {
            img {
                height: 48px;
                width: auto;
                border-radius: 8px;
                background: #f8f8f8;
                margin: 0 6px;
            }

        }

        .skillL {
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            .leftTop {
                height: 70%;
                margin-bottom: 5px;
                padding: 15px;
                box-sizing: border-box;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                align-content: center;
                text-align: center;
                background-color: #E6ECF2;
            }

            .leftBot {
                box-sizing: border-box;
                height: 30%;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                align-content: center;
                text-align: center;
                background-color: #E6ECF2;
            }
        }

        .skillR {
            width: 100%;
            margin-top: 15px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;

            .rightBox {
                margin: 2.5% auto;
                width: 100%;
                height: 20%;
                margin: 2.5%;
                padding: 15px;
            }
        }
    }


    .aboutMe {
        align-content: start;
    }

    .aboutMeInner {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        .tendency,
        .strength {
            width: 85%;
            height: fit-content;
            padding: 15px;
            border-radius: 25px;

            ul {
                margin-top: 10%;
                background-color: white;
                border-radius: 25px;
                height: 50%;
                align-content: center;
            }

        }

        .tendency {
            background-color: #E8F3FF;
        }

        .strength {
            background-color: #F6FAFE;
        }
    }
}